#acceptxPro .icon {
	 margin-top: 5px;
}

.steps__headline {
	margin-bottom: 1.25rem;
	color: $medium-gray;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
}

.ap-intro {
	margin-top: 2rem;
}

.dropcap__img {
	float: left;
	margin: 8px 8px 0 0;
}

.dropcap__text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
}


.apProcess {
	max-width: 600px;
	margin: 0 auto;

	@include breakpoint (large) {
		max-width: 1000px;
	}

	img {
		width: 100%;
		max-width: 600px;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
}

.apSteps {
	margin: 2rem 0;

	.small-12 {
		max-width: 700px;
		margin: 0 auto;
	}

	li:first-of-type {
		margin-top: 1.5rem;
	}

	img {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		border-radius: 5px;
	}
}

.apStep5--list-item {
	margin-top: 3.5rem;
}
