#acceptxPro {

	h2 {
		margin-bottom: 1.25rem;
		color: $medium-gray;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 18px;
	}

	h4 {
		font-weight: 300;
	}

	.icon {
	  margin-top: 5px;
	}

}

.ap-intro {
	margin-top: 2rem;

	img {
		float: left;
		margin: 8px 8px 0 0;
	}

	span {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 2px;
	}

}

.apProcess {
	max-width: 600px;
	margin: 0 auto;

	@include breakpoint (large) {
		max-width: 1000px;
	}

	img {
		width: 100%;
		max-width: 600px;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
}

.apSteps {
	margin-top: 1rem;

	h2 {
		margin-top: 1rem;
	}

}
