#acceptxPro .icon {
	 margin-top: 5px;
}

.ap-steps__headline {
	margin-bottom: 1.25rem;
	color: $medium-gray;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
}

.ap-intro {
	margin-top: 2rem;
}

.dropcap__img {
	float: left;
	margin: 8px 8px 0 0;
}

.dropcap__text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
}


.ap-process {
	max-width: 600px;
	margin: 0 auto;

	@include breakpoint (large) {
		max-width: 1000px;
	}

	img {
		width: 100%;
		max-width: 600px;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
}


.ap-steps__container {
	max-width: 700px;
	margin: 0 auto;
}


.ap-steps {
	margin: 2rem 0;
}

.ap-steps__item:first-of-type {
	margin-top: 1.5rem;

	&.ap-steps__item--no-dots {
		margin-top: rem-calc(54);
	}
}

.ap-steps__image {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 5px;
}
