.icon--left {
  margin-right: 0.5rem;
}

.icon--right {
  margin-left: 0.5rem;
}

.icon-calendar {
  content: url("../img/icon/calendar/calendar.svg");
}

.no-svg .icon-calendar {
  content: url("../img/icon/calendar/calendar.png");
}

.icon-check-blue {
  content: url("../img/icon/check/blue/check-blue.svg");
}

.no-svg .icon-check-blue {
  content: url("../img/icon/check/blue/check-blue.png");
}

.icon-check-green {
  content: url("../img/icon/check/green/check-green.svg");
}

.no-svg .icon-check-green {
  content: url("../img/icon/check/green/check-green.png");
}

.icon-credit-card{
  content: url("../img/icon/credit-card/credit-card.svg");
}

.no-svg .icon-credit-card {
  content: url("../img/icon/credit-card/credit-card.png");
}

.icon-download {
  content: url("../img/icon/download/download-primary.svg");
}

.no-svg .icon-download {
  content: url("../img/icon/download/download-primary.png");
}

.icon-ap-external-link {
  content: url("../img/icon/ap-external-link/ap-external-link.svg");
}

.no-svg .icon-ap-external-link {
  content: url("../img/icon/ap-external-link/ap-external-link.png");
}

.icon-form {
  content: url("../img/icon/form/form.svg");
}

.no-svg .icon-form {
  content: url("../img/icon/form/form.png");
}

.icon-layout {
  content: url("../img/icon/layout/layout.svg");
}

.no-svg .icon-layout{
  content: url("../img/icon/layout/layout.png");
}

.icon-radio-button {
  content: url("../img/icon/radio-button/radio-button.svg");
}

.no-svg .icon-radio-button {
  content: url("../img/icon/radio-button/radio-button.png");
}

.icon-pen {
  content: url("../img/icon/pen/pen.svg");
}

.no-svg .icon-pen {
  content: url("../img/icon/pen/pen.png");
}

.icon-step-one {
  content: url("../img/icon/step-one/step-one.svg");
}

.no-svg .icon-step-one {
  content: url("../img/icon/step-one/step-one.png");
}

.icon-step-two {
  content: url("../img/icon/step-two/step-two.svg");
}

.no-svg .icon-step-two {
  content: url("../img/icon/step-two/step-two.png");
}

.icon-step-three {
  content: url("../img/icon/step-three/step-three.svg");
}

.no-svg .icon-step-three {
  content: url("../img/icon/step-three/step-three.png");
}

.icon-ap-tooltip {
  content: url("../img/icon/ap-tooltip/ap-tooltip.svg");
}

.no-svg .icon-ap-tooltip {
  content: url("../img/icon/ap-tooltip/ap-tooltip.png");
}

.icon-confusion {
  content: url("../img/icon/confusion/confusion.svg");
}

.no-svg .icon-confusion {
  content: url("../img/icon/confusion/confusion.png");
}

.icon-desktop {
  content: url("../img/icon/desktop/desktop.svg");
}

.no-svg .icon-desktop {
  content: url("../img/icon/desktop/desktop.png");
}

.icon-flow {
  content: url("../img/icon/flow/flow.svg");
}

.no-svg .icon-flow {
  content: url("../img/icon/flow/flow.png");
}

.icon-handshake {
  content: url("../img/icon/handshake/handshake.svg");
}

.no-svg .icon-handshake {
  content: url("../img/icon/handshake/handshake.png");
}

.icon-infinity {
  content: url("../img/icon/infinity/infinity.svg");
}

.no-svg .icon-infinity {
  content: url("../img/infinity/infinity.png");
}

.icon-information {
  content: url("../img/icon/information/information.svg");
}

.no-svg .icon-information {
  content: url("../img/icon/information/information.png");
}

.icon-OBFavicon{
  content: url("../img/ap/OB-favicon/OB-favicon.svg");
}

.no-svg .icon-OBFavicon {
  content: url("../img/icon/OB-favicon/OB-favicon.png");
}

.icon-scattered {
	content: url("../img/icon/scattered/scattered.svg");
}

.no-svg .icon-scattered {
  content: url("../img/icon/scattered/scattered.png");
}

.icon-target {
  content: url("../img/icon/target/target.svg");
}

.no-svg .icon-target {
  content: url("../img/icon/target/target.png");
}
