
.icon-apCalendar {
  content: url("../img/ap/apCalendar.svg");
}

.no-svg .icon-apCalendar {
  content: url("../img/ap/apCalendar.png");
}

.icon-apComplete {
  content: url("../img/ap/apComplete.svg");
}

.no-svg .icon-apComplete {
  content: url("../img/ap/apComplete.png");
}

.icon-apCreditCard{
  content: url("../img/ap/apCreditCard.svg");
}

.no-svg .icon-apCreditCard {
  content: url("../img/ap/apCreditCard.png");
}

.icon-apExternalLink {
  content: url("../img/ap/apExternalLink.svg");
}

.no-svg .icon-apExternalLink {
  content: url("../img/ap/apExternalLink.png");
}

.icon-apForm {
  content: url("../img/ap/apForm.svg");
}

.no-svg .icon-apForm {
  content: url("../img/ap/apForm.png");
}

.icon-apLayout {
  content: url("../img/ap/apLayout.svg");
}

.no-svg .icon-apForm {
  content: url("../img/ap/apLayout.png");
}

.icon-apRadioButton {
  content: url("../img/ap/apRadioButton.svg");
}

.no-svg .icon-apRadioButton {
  content: url("../img/ap/apRadioButton.png");
}

.icon-apSentence {
  content: url("../img/ap/apSentence.svg");
}

.no-svg .icon-apSentence {
  content: url("../img/ap/apSentence.png");
}

.icon-apStepAdded {
  content: url("../img/ap/apStepAdded.svg");
}

.no-svg .icon-apStepAdded {
  content: url("../img/ap/apStepAdded.png");
}

.icon-apSteps1 {
  content: url("../img/ap/apSteps1.svg");
}

.no-svg .icon-apSteps1 {
  content: url("../img/ap/apSteps1.png");
}

.icon-apSteps2 {
  content: url("../img/ap/apSteps2.svg");
}

.no-svg .icon-apSteps2 {
  content: url("../img/ap/apSteps2.png");
}

.icon-apSteps3 {
  content: url("../img/ap/apSteps3.svg");
}

.no-svg .icon-apSteps3 {
  content: url("../img/ap/apSteps3.png");
}

.icon-apTooltip {
  content: url("../img/ap/apTooltip.svg");
}

.no-svg .icon-apTooltip {
  content: url("../img/ap/apTooltip.png");
}


.icon-confusion {
  content: url("../img/confusion.svg");
}

.no-svg .icon-confusion {
  content: url("../img/confusion.png");
}

.icon-desktop {
  content: url("../img/desktop.svg");
}

.no-svg .icon-desktop {
  content: url("../img/desktop.png");
}

.icon-flow {
  content: url("../img/flow.svg");
}

.no-svg .icon-flow {
  content: url("../img/flow.png");
}

.icon-handshake {
  content: url("../img/handshake.svg");
}

.no-svg .icon-handshake {
  content: url("../img/handshake.png");
}

.icon-infinity {
  content: url("../img/infinity.svg");
}

.no-svg .icon-infinity {
  content: url("../img/infinity.png");
}

.icon-information {
  content: url("../img/information.svg");
}

.no-svg .icon-information {
  content: url("../img/information.png");
}


.icon-OBFavicon{
  content: url("../img/ap/OBFavicon.svg");
}

.no-svg .icon-apOBFavicon {
  content: url("../img/ap/OBFavicon.png");
}

.icon-scattered {
	content: url("../img/scattered.svg");
}

.no-svg .icon-scattered {
  content: url("../img/scattered.png");
}

.icon-target {
  content: url("../img/target.svg");
}

.no-svg .icon-target {
  content: url("../img/target.png");
}
