//Index
#portfolio hr {
	margin: 1.25rem 0;
	color: $medium-gray;
}

.intro__h2 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: rem-calc(17);
  @include breakpoint(medium){
    font-size: rem-calc(19);
  }
}

.intro__link {
	font-weight: 400;
}

a.nav-portfolio__link {
	display: block;
	padding-left: 0.2rem;


	&:after {
		content:' \2192';
		color: $primary-color;
		transition: 600ms ease margin-left;
	}

	&:hover:after {
		margin-left: 0.4rem;
	}
}
