//Index
#portfolio {

	hr {
		margin: 1.25rem 0;
		color: $medium-gray;
	}

	h2 a {
 		font-weight: 400;
	}
}

.portfolio-links a {
	display: block;
	padding-left: 0.2rem;


	&:after {
		content:' \2192';
		color: $primary-color;
		transition: 600ms ease margin-left;
	}

	&:hover:after {
		margin-left: 0.4rem;
	}
}
