h1, h2, h3, h4, h5, h6, p, li, a {
	transition: 100ms ease all;
}

h1 {
  font-weight: 600;
}

h2 {
    margin-bottom: 0.5rem;
  }

p {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.75em;
}

.italic {
	font-style: italic;
}

.page__subheader {
	font-weight: 300;
}

h3 {
	font-family: Montserrat;
	font-size: rem-calc(18);
	font-weight: 400;
}

.section__headline {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1.25rem;
	color: $medium-gray;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:rem-calc(13);
	font-weight: 500;
}
