<nav class="nav-primary nav-on-scroll">
  <ul class="menu">
    <li><a href="{{#ifpage 'designing-for-point-of-sale'}}rethinking-the-payment-portal.html{{/ifpage}}" class="nav-primary__button nav-primary__link {{#ifpage 'rethinking-the-payment-portal'}}hide{{/ifpage}}" ><img src="{{root}}assets/img/icon/caret/left/caret-left-white.svg" alt="" class="icon--left">Previous</a></li>
    <li><a href="index.html" class="nav-primary__link">Michelle Child</a></li>
    <li><a href="{{#ifpage 'rethinking-the-payment-portal.html'}}{{/ifpage}}" class="nav-primary__button nav-primary__link">Next<img src="{{root}}assets/img/icon/caret/right/caret-right-white.svg" class="icon--right"></a></li>
  </ul>
</nav>
